.App .app-header {
  background-color: #162db3;
}

.app-header {
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header button {
  position: absolute;
  right: 30px;
  border: 1px solid;
  border-radius: 15px;
}

.app-header button svg {
  padding-left: 5px;
}

.app-header .header-font {
  font-size: 30px;
}