.board-seperator {
    text-align: center;
}

.dealer-panel {
    display: inline-flex;
    text-align: center;
}

.board-wrapper {
    display: inline-block;
}

.player-panel {
    justify-content: center;
    display: flex;
}