.board-seperator {
    text-align: center;
}

.dealer-panel {
    display: inline-flex;
    text-align: center;
    height: 170px;
    margin-top: 6px;
}

.board-wrapper {
    display: inline-block;
    margin-top: 40px;
}

.player-panel {
    justify-content: center;
    display: flex;
}