.card-body {
    max-width: 260px;
    width: 100px;
    height: 100px;
    margin: 30px 20px 50px 0;
    border: 1px solid black;
}

.card-content {
    padding: 32px;
}

.card-number {
    font-size: 30px;
}